name: Sync Images

on:
  schedule:
    - cron: '0 0 * * *'  # 每天 UTC 时间的午夜执行一次同步
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    container:
      image: docker:19.03.13
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install jq
        run: apk add jq

      - name: Read sync mappings
        id: read-mappings
        run: |
          echo "${{ steps.read-mappings.outputs.mappings }}" >> mappings.json
          echo "Mappings saved to mappings.json"

      - name: Sync images
        run: |
          mappings=$(cat mappings.json)

          echo "Mappings read from mappings.json: $mappings"

          for mapping in $mappings; do
            _jq() {
              echo ${mapping} | jq -r ${1}
            }

            source=$(_jq '.source')
            destination=$(_jq '.destination')

            echo "Syncing from $source to $destination"

            source_tag=$(docker pull --quiet --disable-content-trust "$source" | awk -F':' '/Digest/ {print $2}')
            echo "Source tag for $source: $source_tag"

            destination="$destination:$source_tag"
            echo "Destination after tagging: $destination"

            docker pull "$source"
            docker tag "$source" "$destination"
            echo "Image tagged successfully"

            # Extract registry from destination
            registry=$(echo "$destination" | awk -F'/' '{print $1}')
            echo "Registry extracted from destination: $registry"

            docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }} $registry
            echo "Logged in to $registry successfully"

            docker push "$destination"
            echo "Image pushed to $destination successfully"
          done
