name: Sync Images

on:
  workflow_dispatch:
    inputs:
      source_image:
        description: 'Source image'
        required: true
      destination_image:
        description: 'Destination image'
        required: true

jobs:
  sync:
    runs-on: ubuntu-latest
    container:
      image: docker:19.03.13
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ steps.extract_registry.outputs.registry }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      

      - name: Sync images
        run: |
          source="${{ github.event.inputs.source_image }}"
          destination="${{ github.event.inputs.destination_image }}"

          echo "Syncing from $source to $destination"

          docker pull "$source"
          echo "Image pulled successfully"

          docker tag "$source" "$destination"
          echo "Image tagged successfully"

          # Extract registry from destination
          registry=$(echo "$destination" | awk -F'/' '{print $1}')
          echo "Registry extracted from destination: $registry"

          docker push "$destination"
          echo "Image pushed to $destination successfully"
